.elements{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 231px);
    grid-auto-rows: 231px;
    column-gap: 30px;
    row-gap: 60px;
    margin: 0 auto;
    max-width: 880px;
    width:fit-content;
    padding:0 19px;
}

@media screen and (max-width:1023px){
    .elements{
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
    }
}

@media screen and (max-width:767px){
    .elements{
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
    }
}