.sign__registered-button {
    appearance: none;
    background-color: transparent;
    background-position: center;
    padding: 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    border: none;
    outline: none;
}

.sign__registered-button:hover {
    transition: ease-in;
    opacity: 0.6;
}