.element__delete-button {
    /*display: none;*/
    position: absolute;
    left: 88%;
    top: 5%;
    background-image: url("../../../images/delete-button.svg");
    width: 18px;
    height: 19px;
    box-sizing: border-box;
    border: none;
    appearance: none;
    background-color:transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.element__delete-button:hover{
    transition: ease-in;
    opacity: 0.6;
}